@page
@model RegisterModel
@{
    ViewData["Title"] = "Log in";
    ViewData["CSSLink"] = "/css/shared.css";
    ViewData["Shared"] = "/css/shared.css";
}



<form enctype="multipart/form-data" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="log-in-form">
    <h4>Create a new account.</h4>
    <hr />
    <label asp-for="CreateUserViewModel.UserName">Username</label>
    <input asp-for="CreateUserViewModel.UserName" class="text-input" autocomplete="off" />
    <span asp-validation-for="CreateUserViewModel.UserName" class="error-message"></span>

    <label asp-for="CreateUserViewModel.Password">Password</label>
    <input asp-for="CreateUserViewModel.Password" class="text-input" autocomplete="off" />
    <span asp-validation-for="CreateUserViewModel.Password" class="error-message"></span>

    <label asp-for="CreateUserViewModel.ConfirmPassword"></label>
    <input asp-for="CreateUserViewModel.ConfirmPassword" class="text-input" />
    <span asp-validation-for="CreateUserViewModel.ConfirmPassword" class="error-message"></span>

    <label asp-for="CreateUserViewModel.Country"></label>
    <input asp-for="CreateUserViewModel.Country" class="text-input" />
    <span asp-validation-for="CreateUserViewModel.Country" class="error-message"></span>

    <label asp-for="CreateUserViewModel.ProfilePicture"></label>
    <input type="file" asp-for="CreateUserViewModel.ProfilePicture" accept=".png,.jpg,.jpeg" multiple>
    <span asp-validation-for="CreateUserViewModel.ProfilePicture" class="error-message"></span>

    <button type="submit" class="primary-button log-in-btn">Register</button>
</form>


@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName">Username</label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@
