@page
@using RazorBlog.Data.Dtos
@using RazorBlog.Models
@model DetailsModel

@{
    ViewData["Title"] = "User Details";
    ViewData["CSSLink"] = "/css/admin/admindetails.css";
    ViewData["Shared"] = "/css/shared.css";
}

<h1>Details of @Model.UserName</h1>
<main class="suspended-blog-container">
    
    <h2>Reported blogs</h2>
    @{
        if (Model.HiddenBlogs.Count == 0)
        {
            <div class="suspended-blog">
                <p>None</p>
                <hr>
            </div>
        }
        foreach (var blog in Model.HiddenBlogs)
        {
            <div class="suspended-blog">
                <h5>Original content</h5>
                <p>@blog.Content</p>
                <form method="post"
                      asp-page-handler="UnhideBlog"
                      asp-route-blogID="@blog.Id"
                      asp-route-type="blog">
                    <button class="un-hide-post">Unhide blog</button>
                </form>
                <form asp-page-handler="DeleteBlog"
                      asp-route-blogID="@blog.Id"
                      asp-route-type="blog"
                      method="post">
                    <button class="delete-post">Delete blog</button>
                </form>
                <hr>
            </div>
        }
    }
    <h2>Reported comments</h2>
    @{
        if (Model.HiddenComments.Count == 0)
        {
            <div class="suspended-comment">
                <p>None</p>
            </div>
        }
        foreach (var comment in Model.HiddenComments)
        {
            <div class="suspended-comment">
                <h5>Original content</h5>
                <p>@comment.Content</p>
                <form method="post"
                      asp-page-handler="UnhideComment"
                      asp-route-commentID="@comment.Id">
                    <button class="un-hide-post">Unhide comment</button>
                </form>
                <form asp-page-handler="DeleteComment"
                      asp-route-commentID="@comment.Id"
                      method="post">
                    <button class="delete-post">Delete comment</button>
                </form>
                <hr>
            </div>
        }
    }


</main>

<section class="ban-details-container">
    <h2>Suspension details</h2>
    @{
        if (Model.BanTicket != null)
        {
            <div class="current-suspension">
                <p>Expiry date: @Model.BanTicket.Expiry</p>
                <form method="post"
                        asp-page-handler="LiftBan"
                        asp-route-username="@Model.UserName">
                    <button class="lift-ban-btn">Lift ban</button>
                </form>
       
            </div>
        }
        else
        {
            <p>No ban ticket exists</p>
            <form class="suspend-form" method="post" asp-page-handler="BanUser">
                <h4>Create ban ticket</h4>
                <label asp-for="BanTicket.Expiry">Expiry date (leave empty to permanently ban the user)</label>
                <input type="date" asp-for="BanTicket.Expiry"/>
                <input type="hidden" asp-for="BanTicket.UserName" value="@Model.UserName"/>
                <button class="ban-btn" type="button">Ban</button>
                <button class="cancel-btn hidden-element" type="button">Cancel</button>
                <button class="confirm-ban-btn hidden-element">Confirm </button>
            </form>
        }
    }



</section>

@section Scripts {
    <script>
        const banBtn = document.querySelector(".ban-btn");
        const cancelBtn = document.querySelector(".cancel-btn");
        const confirmBanBtn = document.querySelector(".confirm-ban-btn")
        const form = document.querySelector(".suspend-form")

        form.addEventListener("click", event => {
            if (event.target && 
            event.target.className === 'ban-btn' || 
            event.target.className === 'cancel-btn') {
                banBtn.classList.toggle('hidden-element')
                cancelBtn.classList.toggle('hidden-element')
                confirmBanBtn.classList.toggle('hidden-element')
            }
        })
    </script>
}