@inherits RichComponentBase
@attribute [StreamRendering(true)]

@if (ReportedThreads.Count == 0)
{
    <h2 class="middle-aligned">Reported Threads</h2>
    <div class="middle-aligned">
        <p>None</p>
    </div>
}
else
{
    <h2 class="middle-aligned">Reported Threads (@ReportedThreads.Count)</h2>
    <section>
        @{
            foreach (var thread in ReportedThreads)
            {
                <div class="reported-post">
                    <p>Title: @thread.Title</p>
                    <p>Reporting user: @thread.ReportTicket.ReportingUserName</p>
                    <p>Thread creation date: @thread.CreationTime.ToString(@"dd\/MM\/yyyy")</p>
                    <p>Report date: @thread.ReportTicket.ReportDate.ToString(@"dd\/MM\/yyyy")</p>
                    <hr>
                    <div class="btn-container">
                        <a class="post-link" href="/Threads/Read?id=@thread.Id">Thread Link</a>
                        <button @onclick="() => CancelThreadReportTicket(thread.ReportTicket.Id)" class="un-hide-post">Unhide Thread</button>
                        <button @onclick="() => ForciblyDeleteThreadAsync(thread.Id)" class="delete-post">Delete Thread</button>
                    </div>
                </div>
            }
        }
    </section>
}
