@page
@using RazorBlog.Data.DTOs
@model AdminModel
@{
    ViewData["Title"] = "Management";
    ViewData["CSSLink"] = "/css/admin/admin.css";
    ViewData["Script"] = "#";
    ViewData["Shared"] = "/css/shared.css";
    var users = ViewData["UserDTOs"] as List<PersonalProfileDto>;
}

<main class="user-container">
    @*<div class="user-card">
        <p>Name</p>
        <p>Date joined</p>
        <p>Posts</p>
        <button class="assign-role">Assign moderator role</button>
    </div>*@

    @foreach (var user in users)
    {
        <div class="user-card">

            <p>@user.UserName</p>
            <p>Posts: @user.BlogCount</p>

            @if (user.IsModerator)
            {
                <form asp-page-handler="RemoveModeratorRole"
                      asp-route-username="@user.UserName"
                      method="post">
                    <button class="button remove-role">Remove moderator role</button>
                </form>
            }
            else
            {
                <form asp-page-handler="AssignModeratorRole"
                      asp-route-username="@user.UserName"
                      method="post">
                    <button class="button assign-role">Assign moderator role</button>
                </form>
            }
            <a class="details-btn" asp-route-username="@user.UserName" asp-page="Details">Details</a>
        </div>
    }
</main>