@page
@using RazorBlog.Data.Dtos
@model AdminModel
@{
    ViewData["Title"] = "Management";
    ViewData["CSSLink"] = "/css/admin/admin.css";
    ViewData["Shared"] = "/css/shared.css";
}

<main class="user-container">
    @*<div class="user-card">
        <p>Name</p>
        <p>Date joined</p>
        <p>Posts</p>
        <button class="assign-role">Assign moderator role</button>
    </div>*@

    @foreach(var moderator in Model.Moderators)
    {
        <div class="user-card">

            <p>@moderator.UserName (joined @moderator.RegistrationDate)</p>

            <form asp-page-handler="RemoveModeratorRole"
                    asp-route-username="@moderator.UserName"
                    method="post">
                <button class="button remove-role">Remove moderator role</button>
            </form>

            <a class="details-btn" asp-route-username="@moderator.UserName" asp-page="Details">Details</a>
        </div>
    }

    <hr />

    @foreach (var user in Model.NormalUsers)
    {
        <div class="user-card">

            <p>@user.UserName (joined @user.RegistrationDate)</p>

            <form asp-page-handler="AssignModeratorRole"
                    asp-route-username="@user.UserName"
                    method="post">
                <button class="button assign-role">Assign as moderator</button>
            </form>

            <a class="details-btn" asp-route-username="@user.UserName" asp-page="Details">Details</a>
        </div>
    }
</main>
