@page
@using BlogApp.Data.DTOs
@using BlogApp.Models
@model BlogApp.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "User Details";
    ViewData["CSSLink"] = "/css/admin/admindetails.css";
    ViewData["Script"] = "/js/admindetails.js";
    ViewData["Shared"] = "/css/shared.css";

    var suspension = (Suspension)ViewData["Suspension"];
    var userDTO = ViewData["UserDTO"] as PersonalProfileDTO;
    var suspendedBlogs = ViewData["HiddenBlogs"] as List<Blog>;
    var suspendedComments = ViewData["HiddenComments"] as List<Comment>;
}


<main class="suspended-blog-container">

    <div class="profile-container">
        <div class="profile">
            <p>Username: @userDTO.Username</p>
            <p>Blog count: @userDTO.BlogCount</p>
            <p>Comments: @userDTO.CommentCount</p>
            <hr>
        </div>
    </div>

    <h2>Reported blogs</h2>
    @* <div class="suspended-post">
        <p>Original content</p>
        <p>jfsdfjdsafasdfadsjfadsjfadsfasdfjfsdfjdsafasdfaasdfadsjfadsjfadsfasdf</p>
        <p>Mod: at Suspend date</p>
    </div> *@
    @{
        if (suspendedBlogs.Count == 0) {
            <div class="suspended-blog">
                <p>None</p>
                <hr>
            </div>
        }
        foreach(var blog in suspendedBlogs) 
        {
            <div class="suspended-blog">
                <h5>Original content</h5>
                <p>@blog.Content</p>
                <form method="post"
                      asp-page-handler="UnhideBlog"
                      asp-route-blogID="@blog.ID"
                      asp-route-type="blog">
                    <button class="un-hide-post">Unhide blog</button>
                </form>
                <form asp-page-handler="DeleteBlog"
                      asp-route-blogID="@blog.ID"
                      asp-route-type="blog"
                      method="post">
                    <button class="delete-post">Delete blog</button>
                </form>
                <hr>
            </div>
        }
    }
    <h2>Reported comments</h2>
    @{
        if (suspendedComments.Count == 0) {
            <div class="suspended-comment">
                <p>None</p>
                <hr>
            </div>
        }
        foreach(var comment in suspendedComments) 
        {
            <div class="suspended-comment">
                <h5>Original content</h5>
                <p>@comment.Content</p>
                <form method="post"
                      asp-page-handler="UnhideComment"
                      asp-route-commentID="@comment.ID">
                    <button class="un-hide-post">Unhide comment</button>
                </form>
                <form asp-page-handler="DeleteComment"
                      asp-route-commentID="@comment.ID"
                      method="post">
                    <button class="delete-post">Delete comment</button>
                </form>
                <hr>
            </div>
        }
    }


</main>

<section class="ban-details-container">
    <h2>Suspension details</h2>
    @* TODO: ADD LOGIC TO SHOW EXISTING SUSPENSIONS *@
    <div class="current-suspension">
        @{
            if (suspension != null) {
                <p>Expiry date: @suspension.Expiry</p>
                <form method="post" 
                      asp-page-handler="LiftSuspension" 
                      asp-route-username="@userDTO.Username">
                    <button class="lift-ban-btn">Lift ban</button>
                </form>     
            } else {
                <p>No suspension exists</p>
            }
        }
        <hr>
    </div>
    
    <form class="suspend-form" method="post" asp-page-handler="SuspendUser">
        <h4>Suspend</h4>
        <input type="date" asp-for="SuspensionTicket.Expiry"/>
        <input type="hidden" asp-for="SuspensionTicket.Username" value="@userDTO.Username"/>
        <button class='ban-btn' type="button">Ban</button>
        <button class='cancel-btn hidden-element' type="button">Cancel</button>
        <button class='confirm-ban-btn hidden-element'>Confirm </button>
    </form>
</section>


