@page
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SimpleForum.Core.Models
@using SimpleForum.Web.Components.Pages.Threads
@using SimpleForum.Web.Pages.Threads
@model ReadModel
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = Model.Thread.Title;
    ViewData["CSSLink"] = "/css/threads/read-thread.css";
    ViewData["Shared"] = "/css/shared.css";
    var userPermissions = Model.UserPermissions;
}

<main class="thread-container">
    <article class="thread">
        @{
            var threadContentClass = Model.Thread.IsReported
                ? "reported-post"
                : string.Empty;
        }

        <div class="thread-info-container">
            
            @if (Model.Thread.IsReported && Model.UserPermissions.AllowedToReportPost)
            {
                <p class="thread-author @threadContentClass">Reported by @Model.Thread.ReportTicket!.ReportingUserName on @Model.Thread.ReportTicket.ReportDate.ToString(@"dd\/MM\/yyyy")</p>
            }
            <div class="author-info">
                <img class="author-profile-image" alt="Commenter's Profile Image" src="@Model.Thread.AuthorProfileImageUri" asp-append-version="true">
                <div class="author-text-info-container">
                    <p class="thread-author">@Model.Thread.AuthorUserName</p>
                    <p class="author-text-info">@Model.Thread.AuthorDescription</p>
                    <p class="author-text-info">
                        Posted on @Model.Thread.CreationTime.ToString("dd MMMM yyyy")
                        @(Model.Thread.IsModified
                            ? $", last updated {Model.Thread.LastUpdateTime.ToString("dd MMMM yyyy")}"
                            : "")
                    </p>
                </div>
            </div>
        </div>

        <hr>
        <div class="thread-option-container">
            @{
                if (userPermissions.AllowedToModifyOrDeletePost)
                {
                    <form asp-page-handler="DeleteThread"
                          asp-route-threadId="@Model.Thread.Id"
                          method="post">
                        <input class="delete-post" type="submit" value="Delete">
                    </form>

                    <a asp-page="/Threads/Edit"
                       asp-route-username="@userPermissions.UserName"
                       asp-route-threadId="@Model.Thread.Id"
                       class="edit-post">
                       Edit
                    </a>
                }

                if (userPermissions.AllowedToReportPost && !Model.Thread.IsReported)
                {
                    <form asp-page-handler="HideThread"
                          asp-route-threadId="@Model.Thread.Id"
                          method="post">
                        <button class="delete-comment">Hide</button>
                    </form>
                }
            }
        </div>

        <p class="title">@Model.Thread.Title</p>
        <p class="thread-description">@Model.Thread.Introduction</p>
        <img alt="Thread Cover Image" src="@Model.Thread.CoverImageUri" asp-append-version="true">

        @{
            foreach (var paragraph in Model.Thread.Content.Split(Environment.NewLine))
            {
                <p class="thread-content">@paragraph</p>
            }
        }
    </article>
</main>

<component
    type="typeof(CommentsContainer)"
    render-mode="Server"
    param-threadId="@Model.Thread.Id"
    param-ThreadAuthorName="@Model.Thread.AuthorUserName"
    param-UserPermissionsDto="@Model.UserPermissions" />
