@page
@model IndexModel
@{
    ViewData["Title"] = "Management";
    ViewData["CSSLink"] = "/css/admin/admin-index.css";
    ViewData["Shared"] = "/css/shared.css";
}

<main class="user-container">
    <h2>Moderators</h2>
    @foreach(var moderator in Model.Moderators)
    {
        <div class="user-card">

            <p>@moderator.UserName (joined @moderator.RegistrationDate)</p>

            <form asp-page-handler="RemoveModeratorRole"
                    asp-route-username="@moderator.UserName"
                    method="post">
                <button class="button remove-role">Unassign Moderator</button>
            </form>

            <a class="details-btn" asp-route-username="@moderator.UserName" asp-page="Details">Details</a>
        </div>
    }

    <hr />

    <h2>Members</h2>
    @foreach (var user in Model.NormalUsers)
    {
        <div class="user-card">

            <p>@user.UserName (joined @user.RegistrationDate)</p>

            <form asp-page-handler="AssignModeratorRole"
                    asp-route-username="@user.UserName"
                    method="post">
                <button class="button assign-role">Assign Moderator</button>
            </form>

            <a class="details-btn" asp-route-username="@user.UserName" asp-page="Details">Details</a>
        </div>
    }
</main>
