@page
@model BlogApp.Pages.Blogs.IndexModel
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager


@{
    ViewData["Title"] = "Index";
    ViewData["CSSLink"] = "/css/index.css";
    ViewData["Shared"] = "/css/shared.css";

    ViewData["Script"] = "#";
}
<section class="add-button-container">
    <a class="add-button" asp-page="/Blogs/Create">Make a post!</a>
</section>

<main class="blog-container">
    @foreach (var blog in Model.Blog)
    {
        <div class="blog">
            <p class="title">@blog.Title</p>
            <hr>
            <div class="blog-info">
                <p>@blog.Author</p>
                <p>@blog.Date.ToString("dd MMM yyyy")</p>
                <p>@blog.Comments.Count comments</p>
                <a class="blog-link" 
                    asp-page="/Blogs/Read" 
                    asp-route-id="@blog.ID">See more</a>
            </div>
        </div>
    }
</main>