@page
@model BlogApp.Pages.Blogs.IndexModel
@using BlogApp.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Index";
    ViewData["CSSLink"] = "/css/index.css";
    ViewData["Shared"] = "/css/shared.css";

    ViewData["Script"] = "#";
}
@* <section class="add-button-container">
    <a class="add-button" asp-page="/Blogs/Create">Add a post</a>
</section> *@

<main class="blog-container">
    @foreach (var blog in Model.Blog)
    {
        <div class="blog">
            <img src="/images/@blog.ImagePath">
            <div class="blog-info">
                <p class="author">@blog.Author</p>
                <p class="title">@blog.Title</p>
                <div class="additional-info">
                    <p>@blog.Date.ToString("dd MMM yyyy")</p>
                    <p>@blog.Comments.Count comments</p>
                    <a class="blog-link" 
                        asp-page="/Blogs/Read" 
                        asp-route-id="@blog.ID">See more</a>
                </div>

            </div>
        </div>
    }
</main>