@page
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RazorBlog.Components
@using RazorBlog.Models
@using RazorBlog.Pages.Shared
@model ReadModel
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Read Blog";
    ViewData["CSSLink"] = "/css/blogs/readblog.css";
    ViewData["Shared"] = "/css/shared.css";
    var userInfo = Model.CurrentUserInfo;
}

<main class="blog-container">
    <article class="blog">
        @{
            var blogContentClass = Model.DetailedBlogDto.IsHidden
            ? "suspended-post"
            : string.Empty;
        }
        <div class="blog-info-container">
            <span class="blog-author">@Model.DetailedBlogDto.AuthorName</span>
            <span class="blog-info">, @Model.DetailedBlogDto.CreationTime.ToString("dd MMMM yyyy")</span>
            @{
                if (Model.DetailedBlogDto.IsModified)
                {
                    <span class="blog-info">, last updated @Model.DetailedBlogDto.LastUpdateTime.ToString("dd MMMM yyyy")</span>
                }
            }
        </div>

        <p class="title @blogContentClass">@Model.DetailedBlogDto.Title</p>
        <hr>
        <div class="comment-option-container">
            @{
                if (userInfo.AllowedToModifyOrDeleteBlog)
                {
                    <form asp-page-handler="DeleteBlog"
                          asp-route-blogID="@Model.DetailedBlogDto.Id"
                          method="post">
                        <input class="delete-post" type="submit" value="Delete">
                    </form>

                    <a class="edit-post"
                       asp-page="/Blogs/Edit"
                       asp-route-username="@userInfo.UserName"
                       asp-route-blogID="@Model.DetailedBlogDto.Id">
                        Edit
                    </a>
                }

                if (userInfo.AllowedToHideBlogOrComment && !Model.DetailedBlogDto.IsHidden)
                {
                    <form asp-page-handler="HideBlog"
                          asp-route-blogID="@Model.DetailedBlogDto.Id"
                          method="post">
                        <button class="delete-comment">Hide</button>
                    </form>
                }
            }
        </div>

        <p class="blog-description @blogContentClass">@Model.DetailedBlogDto.Introduction</p>
        <img alt="Blog Cover Image" src="~/images/@Model.DetailedBlogDto.CoverImageUri" asp-append-version="true">
        <p class="blog-content @blogContentClass">@Model.DetailedBlogDto.Content</p>
    </article>
</main>


<section class="author-info">
    <div class="profile-header">
        <img alt="Author's Profile Image" src="/images/@Model.DetailedBlogDto.AuthorProfileImageUri">
        <span>@Model.DetailedBlogDto.AuthorName</span>
    </div>

    <p class="@blogContentClass">@Model.DetailedBlogDto.Introduction</p>
</section>

<component 
    type="typeof(CommentsContainer)" 
    render-mode="Server"
    param-blogId="@Model.DetailedBlogDto.Id"
    param-BlogAuthorName="@Model.DetailedBlogDto.AuthorName"
    param-CurrentUserInfo="@Model.CurrentUserInfo" />
