@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Logging
@using RazorBlog.Data
@using RazorBlog.Data.Dtos
@using RazorBlog.Models
@using RazorBlog.Services

@inherits RichComponentBase
@attribute [StreamRendering(true)]

@if (!CurrentUserInfo.IsBanned && IsSignedIn)
{
    <EditForm Model="CreateCommentViewModel"
              class="comment-form"
              OnValidSubmit="(async () => await CreateCommentAsync())">
        <DataAnnotationsValidator />
        <textarea rows="5" cols="50"
                  @bind="CreateCommentViewModel.Content"
                  name="CreateCommentViewModel.Content"
                  placeholder="Add a comment. Comments exceeding 200 characters will not be accepted."></textarea>
        <ValidationMessage For="@(() => CreateCommentViewModel.Content)" />
        <input type="submit" value="POST" class="submit-comment" />
    </EditForm>
}

<section class="comment-section">
    <div class="comment-container">
        <p>
            <strong>Comments</strong>
        </p>

        @{
            if (CommentDtos.Count == 0) {
                if (AreCommentsLoaded)
                {
                    <p>No comments</p>
                }
                else
                {
                    <p>Loading comments ...</p>
                }
            }
        }

        @foreach (var comment in CommentDtos)
        {
            <article class="comment" data-id="@comment.Id">
                @{
                    var authorClass = comment.AuthorName == BlogAuthorName
                    ? "blog-author"
                    : "comment-author";

                    var isUserCommentAuthor = comment.AuthorName == CurrentUserName;
                    var isCommentEditorDisplayed = IsCommentEditorDisplayed.TryGetValue(comment.Id, out var isDisplayed) && isDisplayed;

                    <div class="author-container">
                        <img alt="Commenter's Profile Image" src="/images/@comment.AuthorProfileImageUri" asp-append-version="true">
                        <span class="@authorClass">@comment.AuthorName</span>
                        @{
                            var timestampText = comment.IsModified 
                                ? $"Updated {comment.LastUpdateTime.ToShortDateString()}"
                                : $"On {@comment.CreationTime.ToShortDateString()}";
                            <span>@timestampText</span>
                        }
                    </div>
                }

                <div class="comment-option-container">
                    @{
                        if (isUserCommentAuthor && !IsCommentEditorDisplayed[comment.Id])
                        {
                            <form method="post" @onsubmit="(async () => await DeleteCommentAsync(comment.Id))">
                                <button class="delete-comment">Delete</button>
                            </form>
                        }

                        if (CurrentUserInfo.AllowedToHideBlogOrComment &&
                            !comment.IsHidden &&
                            !isUserCommentAuthor &&
                            !isCommentEditorDisplayed)
                        {
                            <form method="post" @onsubmit="(async () => await HideCommentAsync(comment.Id))">
                                <button class="delete-comment">Hide</button>
                            </form>
                        }

                        if (isUserCommentAuthor)
                        {
                            if (!isCommentEditorDisplayed)
                            {
                                <button type="button" class="edit-comment" @onclick="(() => ToggleEditButton(comment))">
                                    Edit
                                </button>
                            }

                            if (isCommentEditorDisplayed)
                            {
                                <EditForm Model="EditCommentViewModel"
                                          class="edit-comment-form"
                                          OnValidSubmit="(async () => await EditCommentAsync(comment.Id))">
                                    <DataAnnotationsValidator />

                                    <ValidationMessage For="@(() => EditCommentViewModel.Content)" />

                                    <textarea rows="5" cols="50"
                                                @bind="EditCommentViewModel.Content"
                                                name="EditCommentViewModel.Content"
                                                class="edit-comment-textarea">@comment.Content</textarea>
                                    <input asp-for="EditCommentViewModel.BlogId" value="@BlogId" type="hidden" />

                                    <input type="hidden" @bind="EditCommentViewModel.BlogId" />

                                    <div class="edit-form-btn-container">
                                        <button type="button" @onclick="(() => ToggleEditButton(comment))" class="edit-comment">Cancel</button>
                                        <button type="submit" class="save-btn">Save</button>
                                    </div>
                                </EditForm>
                            }
                        }
                    }
                </div>
                @{
                    var postClass = comment.IsHidden || comment.IsDeleted
                    ? "suspended-post"
                    : string.Empty;
                }

                @if (!isUserCommentAuthor || !isCommentEditorDisplayed)
                {
                    <p class="comment-text @postClass">@comment.Content</p>
                }
            </article>
        }

    </div>

</section>

@code {
    private void ToggleEditButton(CommentDto comment)
    {
        var originalValue = IsCommentEditorDisplayed[comment.Id];
        foreach (var commentId in IsCommentEditorDisplayed.Keys)
        {
            IsCommentEditorDisplayed[commentId] = false;
        }

        IsCommentEditorDisplayed[comment.Id] = !originalValue;

        if (IsCommentEditorDisplayed[comment.Id])
        {
            LoadEditCommentContext(comment);
        }
    }

    private void LoadEditCommentContext(CommentDto comment)
    {
        EditCommentViewModel.Content = comment.Content;
    }
}